* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;

}



header {
    padding: 50px;
    background-color: rgba(68, 62, 90, 0.836);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header ul {
    display: flex;
    align-items: end;

}


header ul li {
    list-style: none;
    margin-right: 15px;
}

header ul li a {
    color: white;
    width: 10px;
}

header i {

    color: white;

}


header img {
    height: 100px;
    width: 100px;
}


.section1 {
    padding: 250px;
    display: flex;
    background-color: #c0b9d4;
    justify-content: center;
    align-items: center;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
    color: aliceblue;
}

.section1 h3 {
    font-size: 30px;
    font-weight: 500;
}


.section1 p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

.section1 button {
    width: 100px;
    height: 45px;
    background-color: #808080;
    justify-content: center;
    color: rgb(245, 245, 245);
    border-color: #ffbfff;
    box-shadow: 5px 5px 5px / #ca94fb;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}



.section2 {
    padding: 350px;
    justify-content: space-around;
    align-items: center;
    background-color: #cab1ca;
    display: flex;
    /* background-image: url(img/code-8779051_1280.jpg); */
    background-repeat: no-repeat;
}

.img-lado {
    width: 150px;
}

/* Estilo do texto */

.section2 p {
    margin: 30px;
    font-weight: 300;
    font-size: 20px;
    color: #070607;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: left;
    display: flex;
}

footer ul {
    display: flex;
}
footer ul li {
    list-style: none;
    justify-content: space-between;
}

footer i {
    width: 50px;
    height: auto;

}