* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;

}

body {
    background-image: url(img/particles-7104407.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    padding: 12rem;
    background-color: gray;
    display: flex;
    align-items: center;

}

header ul {
    display: flex;
    align-items: end;
    

}
    


header ul li {
    list-style: none;
    
}

header ul li a {
    color: black;
}

header i {
    width: 300px;
}

.section1 div
{

}

.img-lado{
    height: 200px;
    width: 200px;
}